body {
  background-color: rgb(30, 30, 30);
  font-family: Arial;
}

button {
  background-color: rgb(225, 225, 225);
  color: black;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  height: 45px;
  width: 160px;
  margin: 10px;
  cursor: pointer;
}